.comment {
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
  background: #e5ddcd;
  box-shadow: 8px 8px 16px #c0baac, -8px -8px 16px #ffffee;
}

body,
html {
  margin: 16px;
  height: 100%;
  background: #e5ddcd;
  box-sizing: border-box;
}
