.comment {
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
  background: #edf2f7;
  box-shadow: 8px 8px 16px #c7cbcf, -8px -8px 16px #ffffff;
}

body,
html {
  margin: 16px;
  height: 100%;
  background: #edf2f7;
  box-sizing: border-box;
}
